<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="auth.css">
</head>
<body class="body">
    <form class="form">
        <input placeholder="Логин" type="text" class="form__field" name="" id="">
        <input placeholder="Пароль" type="password" class="form__field" name="" id="">
        <div class="buttons">
            <button class="buttons__item buttons__item--small" type="submit">Войти</button>
            <a href="/registration" class="buttons__item buttons__item--big" type="submit">Зарегистрироваться</a>
        </div>
    </form>
</body>
</html>