export default `
<main class="body">
    <form class="form">
        <input placeholder="Имя" type="text" class="form__field" name="" id="">
        <input placeholder="Фамилия" type="text" class="form__field" name="" id="">
        <input placeholder="Логин" type="text" class="form__field" name="" id="">
        <input placeholder="Почта" type="text" class="form__field" name="" id="">
        <input placeholder="Пароль" type="password" class="form__field" name="" id="">
        <input placeholder="Телефон" type="password" class="form__field" name="" id="">
        <div class="buttons">
            <a href="/chats" class="buttons__item buttons__item--big" type="button">Зарегистрироваться</a>
            <a href="/auth" class="buttons__item buttons__item--small" type="submit">Войти</a>
        </div>
    </form>
</main>
`